.c-table-row {
  display: table-row;

  &:first-child {
    .c-table-cell {
      border-top: 2px solid #acb9d0;
    }
  }

  &--hide {
    .c-table-cell {
      &__bg {
        height: 0 !important;
      }

      &__val-default {
        display: block;
        opacity: 1;
      }

      &__val-aux {
        display: none;
      }
    }
  }

  &__aux-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 6px 15px 5px;
    height: 50px;
    width: 74px;
    border-bottom: 2px solid transparent;
    background: #f4f6ff;
  }

  &__btn-remove {
    position: absolute;
    top: 0;
    left: 100%;
    width: 23px;
    height: 23px;
    background: #ef8686;
    border: none;
    cursor: pointer;
    transition: all .2s;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -7px 0 0 -2px;
      width: 3px;
      height: 13px;
      background: #fff;
      transition: all .3s;
      transform: rotate(-135deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover,
    &:active,
    &:focus {
      outline: none;
      background: #ff3f3f;
    }
  }
}
