.c-table {
  position: relative;
  padding: 0 23px 23px 0;
  overflow: auto;
  font-size: 20px;

  &__in {
    display: table;
  }

  &__btn-add {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 23px;
    height: 23px;
    background: #3f68a1;
    border: none;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -7px 0 0 -2px;
      width: 3px;
      height: 13px;
      background: #fff;
      transition: all .3s;
    }

    &:after {
      transform: rotate(90deg);
    }

    &:hover,
    &:active,
    &:focus {
      outline: none;
      background: #2861af;
    }
  }
}
