$page-width: 1200px;
$tablet-sm: 568px;
$tablet: 667px;
$screen-sm: 768px;
$screen: 1024px;

$font-family: "Montserrat", Helvetica, Arial, sans-serif;
$font-main-medium: 500;
$font-main-bold: 700;
$font-main-extrabold: 800;

$font-size-basic: 14px;
$font-size-tablet: 16px;
$line-height-basic: 123%;

$text-logo: #3f68a1;
$text-main: #313d5f;
$text-color-invert: #fff;

$btn-default: #336cbc;
$btn-default-active: #1b4e97;
$btn-default-hover: #2861af;